#wrapper{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.length-setters{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.setter-controls-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#session-increment,
#session-decrement,
#break-increment,
#break-decrement{
  border: 1px solid red;
  transition: .3s;
  cursor: pointer;
}
#session-increment:hover,
#session-decrement:hover,
#break-increment:hover,
#break-decrement:hover{
  transition: .3s;
  transform: scale(1.10);
}
#time-left{
  font-size: 30px;
}
.display-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  border: 2px solid #333;
  padding: 2rem 4rem;
  border-radius: 20px;
}
.controls{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
#start-stop>i,
#restart>i{
  border: none;
  font-size: 25px;
}